.block-graphics {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 98px;
  padding: 5px 0;
  max-width: 200px;
  margin: 0 auto;
  color: #bd0e0e;

  @media (max-width: 1199px) {
    color: #000;
  }

  &__hover {
    opacity: 0;
    line-height: 1.2;
    font-weight: 700;
    transform: translateY(-100%);
    transition: opacity 0.25s ease-in-out,
                transform 0s ease-in-out 0.25s;

    @media (max-width: 1199px) {
      opacity: 1;
      transform: translateY(0);
      margin-top: 5px;
    }
  }

  &__img {
    width: 52px;
    height: 52px;

    @media (max-width: 1199px) {
      display: none;      
    }

    &--big {
      position: absolute;
      width: 88px;
      height: 88px;
      top: 5px;
      left: calc(50% - 44px);
      transition: opacity 0.25s ease-in-out,
                  transform 0.25s ease-in-out 0.25s;

      @media (max-width: 1199px) {
        display: inline-block;
        position: static;      
      }
    }
  }

  &:hover,
  &:focus {
    .block-graphics__hover {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.25s ease-in-out 0.25s;
    }

    .block-graphics__img--big {
      transform: scale(0.59) translateY(-30px);
      opacity: 0;
      transition: transform 0.25s ease-in-out,
                  opacity 0.25s ease-in-out 0.25s;

      @media (max-width: 1199px) {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }
}