.block-news {
  background: #e6e6e6;
  border: 1px solid #d3d2d2;
  border-radius: 10px;
  overflow: hidden;

  &__img {
    display: block;
    height: 136px;
  }

  &__date {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__text {
    line-height: 1.2;
    padding: 10px 15px;
  }
}