.form {

  &__input {
    height: 26px;
    background: #fff;
    border: 1px solid #737373;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;

    &--big {
      height: 50px;
      border: 1px solid #d3d2d2;
    }

    &--textarea {
      height: 112px;
      resize: none;
    }
  }

  &__select {
    height: 26px;
    background: #fff;
    border: 1px solid #737373;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
  }

  &__checkbox {
    display: none;

    &:checked + .form__checkbox-label {

      &:before {
        background-image: url(../img/ico-ceckbox.png);
        background-position: top right;
        background-repeat: no-repeat;
      }
    }

    &-label {

      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #737373;
        border-radius: 5px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }

  &__reset {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/ico-reset.png);
    padding: 0 15px 0 0;
    outline: none;
  }

  &__radio {
    display: none;

    &:checked + .form__radio-label {

      &:before {
        background: #b36969;
      }
    }

    &-label {

      &:before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px solid #737373;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
        box-shadow: inset 5px 4px 5px -3px rgba(0,0,0,0.2),
                    inset 0 0 0 8px #FFF;
        transition: background-color 0.25s ease-in-out;
      }
    }

    &-content {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 40px);
    }
  }
}