.goods-img {
  display: block;
  height: 245px;
  font-size: 0;
  text-align: center;
  text-decoration: none;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    display: inline-block !important;
    vertical-align: middle;
    width: auto !important;
  }
}

.goods-day {

  &--name {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 1rem 0;
    text-decoration: none;
  }

  &--price{
    font-size: 1.85rem;
    font-weight: 700;
    text-align: right;

    &:after {
      content: '₽';
      font-size: 1.1rem;
    }
  }
}

.card-goods {
  background: #fff;
  padding: 20px 15px 25px;
  line-height: 1.2;
  border-radius: 7px;
  border: 1px solid #d3d2d2;

  &__name {
    height: 38px;
    overflow: hidden;
  }

  &__small {
    font-size: 0.8rem;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
}