.goods-img {
  display: block;
  height: 245px;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    display: inline-block !important;
    vertical-align: middle;
    width: auto !important;
    max-height: 90%;
  }
}

.goods-day {

  &--name {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 1rem 0;
    text-decoration: none;
  }

  &--price{
    font-size: 1.85rem;
    font-weight: 700;
    text-align: right;

    &:after {
      content: '₽';
      font-size: 1.1rem;
    }
  }

  @media (max-width: 991px) {
    max-width: 270px;
    margin: 0 auto;
  }
}

.card-goods {
  background: #fff;
  padding: 20px 15px 25px;
  line-height: 1.2;
  border-radius: 7px;
  border: 1px solid #d3d2d2;
  max-width: 290px;
  margin: 0 auto;

  &__name {
    height: 38px;
    overflow: hidden;
  }

  &__small {
    font-size: 0.8rem;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.goods-label {
  position: absolute;
  top: -25px;
  right: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;

  &__item {
    display: block;
    width: 76px;
    height: 56px;
    background-image: url(../img//label-goods-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;

    &:before {
      content: '';
      position: absolute;
      background-image: url(../img/icon-gift.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    span {
      display: block;
    }

    &--gift {

      &:before {
        width: 30px;
        height: 31px;
        top: 10px;
        left: 27px;
      }
    }

    &--sale {
      padding-top: 15px;

      span {
        font-size: 1.25rem;
        font-weight: 700;
        transform: rotate(-10deg);
      }
    }
  }
}

.catalog-list {
  
  &__link {
    display: block;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 10px;

    @media (max-width: 575px) {
      padding: 0px 5px;
    }
  }

  &__icon {
    display: inline-block;
    background-color: #bc0f0f;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;

    @media (max-width: 575px) {
      width: 22px;
      height: 22px;
      background-size: auto 70%;
    }
  }

  &__name {
    display: inline-block;
    width: calc(100% - 46px);
    vertical-align: middle;
    line-height: 1.2;

    @media (max-width: 575px) {
      width: calc(100% - 36px);
    }
  }
}