.header-small {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;

  &--active {
    transform: translateY(0);
  }

  &__wrapper-logo {
    margin-left: 26px;
    display: flex;

    @media (max-width: 575px) {
      margin-left: 0;
    }
  }

  &__logo {
    margin-left: -26px;
    text-decoration: none;

    @media (max-width: 575px) {
      display: none;
    }

    img {
      height: 52px;
    }
  }

  &__dropdown-menu {
    width: auto;
    display: inline-block;
    flex-grow: 1;
  }

  &__menu-btn {
    font-family: Fira Sans Condensed,sans-serif;
    box-shadow: none;
    height: 52px;
    line-height: 44px;
    display: block;
    text-decoration: none;
    padding: 3px 10px;
    text-transform: uppercase;
    box-shadow: 0 3px 10px -5px rgba(0,0,0,0.5);

    @media (max-width: 991px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: 991px) {
        display: block;
      }
    }
  }

  &__menu-list {
    top: 52px;
  }

  &__basket {
    display: block;
    height: 52px;
    text-decoration: none;
    padding: 8px 15px;
    text-transform: uppercase;
  }

  @media (max-width: 991px) {
    
  }
}