.mobile-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;

  &--active {
    transform: translateX(0);
  }

  &__container {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: auto;

    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 4px);
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}