.rating {
  display: inline-block;
  vertical-align: middle;

  &__item {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/ico-star.png);

    &--active {
      background-image: url(../img/ico-star-active.png);
    }
  }
}