.tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: inset 0 0 20px #950000;
  background: #bd0e0e;
  color: #fff;
  white-space: nowrap;
  max-width: 100%;
  overflow: auto;

  &__item {
    
  }

  &__link {
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 15px;
    transition: background-color 0.25s ease-in-out;

    &:hover,
    &:focus,
    &--active {
      background: #950000;
      color: #fff;
    }
  }
}

.tabs-block {

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__preloader {
    display: none;

    &--active {
      display: block;
    }
  }
}